media-functions-for-logic-app/logicapp2-advancedvod-deploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "functionsAppResourceGroup": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of resource group used by the functions app already deployed."
      }
    },
    "functionsAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the functions app already deployed."
      }
    },
    "onedriveFolderToWatch": {
      "type": "string",
      "metadata": {
        "description": "Folder in your OneDrive where videos must be uploaded to trigger the workflow."
      },
      "defaultValue": "/IngestVideos"
    },
    "mediaServicesStorageAccountName": {
      "type": "string",
      "metadata": {
        "description": "Name of the storage account used by the media services account, already deployed."
      }
    },
    "outlookSendEmailTo": {
      "type": "string",
      "metadata": {
        "description": "Email where the Outlook messages will be sent."
      },
      "defaultValue": "user@hotmail.com"
    }
  },
  "variables": {
    "storageAccountid": "[resourceId('Microsoft.Storage/storageAccounts', trim(parameters('mediaServicesStorageAccountName')))]",
    "logicAppLocation": "[resourceGroup().location]",
    "onedrive_1_Connection_Name": "onedrive-2",
    "onedrive_1_Connection_DisplayName": "onedrive-2",
    "bitly_1_Connection_Name": "bitly-2",
    "bitly_1_Connection_DisplayName": "bitly-2",
    "azureblob_1_Connection_Name": "azureblob-2",
    "azureblob_1_Connection_DisplayName": "[parameters('mediaServicesStorageAccountName')]",
    "office365_1_Connection_Name": "office365-2",
    "office365_1_Connection_DisplayName": "office365-2",
    "microsofttranslator_1_Connection_Name": "translator-2",
    "microsofttranslator_1_Connection_DisplayName": "translator-2",
    "trimlogicAppName": "[trim(parameters('logicAppName'))]",
    "trimfunctionsAppName": "[trim(parameters('functionsAppName'))]",
    "trimmediaServicesStorageAccountName": "[trim(parameters('mediaServicesStorageAccountName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2016-06-01",
      "name": "[parameters('logicAppName')]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('microsofttranslator_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', variables('office365_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', variables('azureblob_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', variables('bitly_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', variables('onedrive_1_Connection_Name'))]"
      ],
      "location": "[variables('logicAppLocation')]",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "When_a_file_is_created": {
              "recurrence": {
                "frequency": "Minute",
                "interval": 1
              },
              "metadata": {
                "A56BE8B37BAEFEF9!282842": "[parameters('onedriveFolderToWatch')]"
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['onedrive']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/datasets/default/triggers/onnewfile",
                "queries": {
                  "folderId": "A56BE8B37BAEFEF9!282842"
                }
              }
            }
          },
          "actions": {
            "Condition": {
              "actions": {
                "Create_a_bitlink": {
                  "runAfter": {
                    "add-textfile-to-asset": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "api": {
                        "runtimeUrl": "[concat('https://logic-apis-', variables('logicAppLocation'), '.azure-apim.net/apim/bitly')]"
                      },
                      "connection": {
                        "name": "@parameters('$connections')['bitly']['connectionId']"
                      }
                    },
                    "method": "get",
                    "path": "/shorten",
                    "queries": {
                      "longUrl": "@{body('publish-asset')['playerUrl']}&subtitles=English,en,@{body('return-subtitles')['vttUrl']};French,fr,@{body('publish-subtitles-asset')['pathUrl']}french.vtt"
                    }
                  }
                },
                "HTTP_Get_Thumbnail": {
                  "runAfter": {
                    "return-subtitles": [
                      "Succeeded"
                    ]
                  },
                  "type": "Http",
                  "inputs": {
                    "method": "GET",
                    "uri": "@{body('publish-asset')['pathUrl']}Thumbnail_000001.png"
                  }
                },
                "Send_an_email": {
                  "runAfter": {
                    "Create_a_bitlink": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "body": {
                      "Attachments": [
                        {
                          "ContentBytes": "@{base64(body('HTTP_Get_Thumbnail'))}",
                          "Name": "Thumbnail.png"
                        }
                      ],
                      "Body": "<html><body><strong>There is a new video encoded</strong><p><a href=\"@{body('Create_a_bitlink')['url']}\"><img src=\"cid:Thumbnail.png\"></p><p><a href=\"@{body('Create_a_bitlink')['url']}\">Playback the video</a></p><p><a href=\"@{body('return-subtitles')['vttUrl']}\">Download Subtitles (English)</a></p><p><a href=\"@{body('publish-subtitles-asset')['pathUrl']}french.vtt\">Download Subtitles (French)</a></p></body></html>",
                      "IsHtml": true,
                      "Subject": "Video Publish is Complete!",
                      "To": "[parameters('outlookSendEmailTo')]"
                    },
                    "host": {
                      "api": {
                        "runtimeUrl": "[concat('https://logic-apis-', variables('logicAppLocation'), '.azure-apim.net/apim/office365')]"
                      },
                      "connection": {
                        "name": "@parameters('$connections')['office365']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/Mail"
                  }
                },
                "Translate_text": {
                  "runAfter": {
                    "HTTP_Get_Thumbnail": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "api": {
                        "runtimeUrl": "[concat('https://logic-apis-', variables('logicAppLocation'), '.azure-apim.net/apim/microsofttranslator')]"
                      },
                      "connection": {
                        "name": "@parameters('$connections')['microsofttranslator_1']['connectionId']"
                      }
                    },
                    "method": "get",
                    "path": "/Translate",
                    "queries": {
                      "languageTo": "fr",
                      "query": "@{body('return-subtitles')['vttDocument']}"
                    }
                  }
                },
                "add-textfile-to-asset": {
                  "runAfter": {
                    "Translate_text": [
                      "Succeeded"
                    ]
                  },
                  "type": "Function",
                  "inputs": {
                    "body": {
                      "assetId": "@{body('submit-job')['indexV2']['assetId']}",
                      "convertTtml": false,
                      "document": "@{body('Translate_text')}",
                      "fileName": "french.vtt"
                    },
                    "function": {
                      "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', parameters('functionsAppResourceGroup'), '/providers/Microsoft.Web/sites/', variables('trimfunctionsAppName'), '/functions/add-textfile-to-asset')]"
                    }
                  }
                },
                "publish-asset": {
                  "runAfter": {},
                  "type": "Function",
                  "inputs": {
                    "body": {
                      "assetId": "@{body('submit-job')['mes']['assetId']}"
                    },
                    "function": {
                      "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', parameters('functionsAppResourceGroup'), '/providers/Microsoft.Web/sites/', variables('trimfunctionsAppName'), '/functions/publish-asset')]"
                    }
                  }
                },
                "publish-subtitles-asset": {
                  "runAfter": {
                    "publish-asset": [
                      "Succeeded"
                    ]
                  },
                  "type": "Function",
                  "inputs": {
                    "body": {
                      "assetId": "@{body('submit-job')['indexV2']['assetId']}"
                    },
                    "function": {
                      "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', parameters('functionsAppResourceGroup'), '/providers/Microsoft.Web/sites/', variables('trimfunctionsAppName'), '/functions/publish-asset')]"
                    }
                  }
                },
                "return-subtitles": {
                  "runAfter": {
                    "publish-subtitles-asset": [
                      "Succeeded"
                    ]
                  },
                  "type": "Function",
                  "inputs": {
                    "body": {
                      "assetId": "@{body('submit-job')['indexV2']['assetId']}"
                    },
                    "function": {
                      "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', parameters('functionsAppResourceGroup'), '/providers/Microsoft.Web/sites/', variables('trimfunctionsAppName'), '/functions/return-subtitles')]"
                    }
                  }
                }
              },
              "runAfter": {
                "Until": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Send_an_email_error": {
                    "runAfter": {},
                    "type": "ApiConnection",
                    "inputs": {
                      "body": {
                        "Body": "There is a job error when processing file @{triggerOutputs()['headers']['x-ms-file-name']}. Error is : @{body('check-job-status')['errorText']}",
                        "Subject": "Job error",
                        "To": "[parameters('outlookSendEmailTo')]"
                      },
                      "host": {
                        "api": {
                          "runtimeUrl": "[concat('https://logic-apis-', variables('logicAppLocation'), '.azure-apim.net/apim/office365')]"
                        },
                        "connection": {
                          "name": "@parameters('$connections')['office365']['connectionId']"
                        }
                      },
                      "method": "post",
                      "path": "/Mail"
                    }
                  },
                  "Terminate": {
                    "inputs": {
                      "runError": {},
                      "runStatus": "Failed"
                    },
                    "runAfter": {
                      "Send_an_email_error": [
                        "Succeeded"
                      ]
                    },
                    "type": "Terminate"
                  }
                }
              },
              "expression": "@equals(body('check-job-status')['isSuccessful'], 'True')",
              "type": "If"
            },
            "Create_blob": {
              "runAfter": {
                "create-empty-asset": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "body": "@triggerBody()",
                "host": {
                  "api": {
                    "runtimeUrl": "[concat('https://logic-apis-', variables('logicAppLocation'), '.azure-apim.net/apim/azureblob')]"
                  },
                  "connection": {
                    "name": "@parameters('$connections')['azureblob']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/datasets/default/files",
                "queries": {
                  "folderPath": "@{body('create-empty-asset')['containerPath']}",
                  "name": "@{triggerOutputs()['headers']['x-ms-file-name']}"
                }
              }
            },
            "Until": {
              "actions": {
                "check-job-status": {
                  "runAfter": {},
                  "type": "Function",
                  "inputs": {
                    "body": {
                      "jobId": "@{body('submit-job')['jobId']}"
                    },
                    "function": {
                      "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', parameters('functionsAppResourceGroup'), '/providers/Microsoft.Web/sites/', variables('trimfunctionsAppName'), '/functions/check-job-status')]"
                    }
                  }
                }
              },
              "runAfter": {
                "submit-job": [
                  "Succeeded"
                ]
              },
              "expression": "@equals(body('check-job-status')['isRunning'], 'False')",
              "limit": {
                "count": 600,
                "timeout": "PT2H"
              },
              "type": "Until"
            },
            "create-empty-asset": {
              "runAfter": {},
              "type": "Function",
              "inputs": {
                "body": {
                  "assetName": "@{triggerOutputs()['headers']['x-ms-file-name']}"
                },
                "function": {
                  "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', parameters('functionsAppResourceGroup'), '/providers/Microsoft.Web/sites/', variables('trimfunctionsAppName'), '/functions/create-empty-asset')]"
                }
              }
            },
            "submit-job": {
              "runAfter": {
                "sync-asset": [
                  "Succeeded"
                ]
              },
              "type": "Function",
              "inputs": {
                "body": {
                  "assetId": "@{body('create-empty-asset')['assetId']}",
                  "indexV2Language": "EnUs",
                  "mesPreset": "H264 Multiple Bitrate 720p with thumbnail.json",
                  "useEncoderOutputForAnalytics": true
                },
                "function": {
                  "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', parameters('functionsAppResourceGroup'), '/providers/Microsoft.Web/sites/', variables('trimfunctionsAppName'), '/functions/submit-job')]"
                }
              }
            },
            "sync-asset": {
              "runAfter": {
                "Create_blob": [
                  "Succeeded"
                ]
              },
              "type": "Function",
              "inputs": {
                "body": {
                  "assetId": "@{body('create-empty-asset')['assetId']}"
                },
                "function": {
                  "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', parameters('functionsAppResourceGroup'), '/providers/Microsoft.Web/sites/', variables('trimfunctionsAppName'), '/functions/sync-asset')]"
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azureblob": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('logicAppLocation'), '/managedApis/', 'azureblob')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azureblob_1_Connection_Name'))]",
                "connectionName": "[variables('azureblob_1_Connection_Name')]"
              },
              "bitly": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('logicAppLocation'), '/managedApis/', 'bitly')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('bitly_1_Connection_Name'))]",
                "connectionName": "[variables('bitly_1_Connection_Name')]"
              },
              "onedrive": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('logicAppLocation'), '/managedApis/', 'onedrive')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('onedrive_1_Connection_Name'))]",
                "connectionName": "[variables('onedrive_1_Connection_Name')]"
              },
              "microsofttranslator": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('logicAppLocation'), '/managedApis/', 'microsofttranslator')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('microsofttranslator_1_Connection_Name'))]",
                "connectionName": "[variables('microsofttranslator_1_Connection_Name')]"
              },
              "office365": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('logicAppLocation'), '/managedApis/', 'office365')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('office365_1_Connection_Name'))]",
                "connectionName": "[variables('office365_1_Connection_Name')]"
              }
            }
          }
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "location": "[variables('logicAppLocation')]",
      "name": "[variables('onedrive_1_Connection_Name')]",
      "properties": {
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('logicAppLocation'), '/managedApis/', 'onedrive')]"
        },
        "displayName": "[variables('onedrive_1_Connection_DisplayName')]",
        "parameterValues": {}
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "location": "[variables('logicAppLocation')]",
      "name": "[variables('office365_1_Connection_Name')]",
      "properties": {
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('logicAppLocation'), '/managedApis/', 'office365')]"
        },
        "displayName": "[variables('office365_1_Connection_DisplayName')]",
        "parameterValues": {}
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "location": "[variables('logicAppLocation')]",
      "name": "[variables('microsofttranslator_1_Connection_Name')]",
      "properties": {
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('logicAppLocation'), '/managedApis/', 'microsofttranslator')]"
        },
        "displayName": "[variables('microsofttranslator_1_Connection_DisplayName')]",
        "parameterValues": {}
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "location": "[variables('logicAppLocation')]",
      "name": "[variables('bitly_1_Connection_Name')]",
      "properties": {
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('logicAppLocation'), '/managedApis/', 'bitly')]"
        },
        "displayName": "[variables('bitly_1_Connection_DisplayName')]",
        "parameterValues": {}
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "location": "[variables('logicAppLocation')]",
      "name": "[variables('azureblob_1_Connection_Name')]",
      "properties": {
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('logicAppLocation'), '/managedApis/', 'azureblob')]"
        },
        "displayName": "[variables('azureblob_1_Connection_DisplayName')]",
        "parameterValues": {
          "accountName": "[variables('trimmediaServicesStorageAccountName')]",
          "accessKey": "[listKeys(variables('storageAccountid'),'2015-05-01-preview').key1]"
        }
      }
    }
  ],
  "outputs": {}
}
